.outer_box{
     padding-top: 8rem;
    color: aliceblue;
}
.login_container{
    padding: 1rem;
    color:aliceblue;
    border:2px solid transparent;
    
    /* border-image:linear-gradient( rgb(1, 224, 224), rgb(111, 231, 231),rgb(154, 196, 196)) 15; */
    box-shadow: 0px 0px 10px 0px rgb(17 241 241);
    overflow: hidden;
    border-radius: 12px;
    width: 40%;
    margin: auto;
    
}
.login_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin:1rem;
}

.login_row input{
    width: 100%;
    padding: 0.5rem 0.3rem;
    font-size: large;
    border-radius: 12px;
    border-color: rgb(140, 241, 241);
    outline-style: none;
}
.login_container> button ,.button{
        width: 123px;
        padding: 0.5rem;
        border-radius: 12px;
        margin-top: 2rem;
        border-color: rgb(140, 241, 241);
        box-shadow: 0px 0px 10px 0px rgb(140, 241, 241);
        outline-style: none;
        cursor: pointer;
}
.login_container>button:hover,button:hover{
    background-color: rgb(224, 255, 255);
    color: rgb(16, 155, 155);
}

@media screen and (max-width: 768px) {
    .login_container{
        width: 90%;
    }

}